@media screen and (min-width: 768px) {
  .feature__item {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
  
.feature__thumb {
  width: 100%;
  
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }    
}
  
.feature__thumb::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;

  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $main-bg-color;    
}
  
.egg::before {
  background-image: url(../images/icons/egg.svg);
}  
.online::before {
  background-image: url(../images/icons/online.svg);
}  
.contest::before {
  background-image: url(../images/icons/contest.svg);
}  
.instal::before {
  background-image: url(../images/icons/instal.svg);
}

.contest-date::before {
  background-image: url(../images/icons/calendar.svg);
}  
.contest-time::before {
  background-image: url(../images/icons/time.svg);
}  
.contest-location::before {
  background-image: url(../images/icons/location.svg);
}  
.contest-age::before {
  background-image: url(../images/icons/kids.svg);
}
.feature__thumb h3 {
  margin-bottom: 10px;

  font-family: $main-font;
  text-transform: uppercase;
  color: $title-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
  
.feature__thumb p {
  font-family: $main-font;
  color: $primary-text-color;

  @media screen and (max-width: 480px) {
    text-align: justify;
  }
}

.feature {
  & .bottom-btn {
    margin-top: 50px;
  }
}

.schedule-features {
  display: flex;
  justify-content: center;

  & .feature__thumb::before {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    text-align: center;
  }

  @media screen and (min-width: 901px) {
    flex-wrap: nowrap;
  }
};