.rules {
    font-family: $main-font;
    color: $primary-text-color;

    & p {
        margin: 0 auto 16px auto;
        font-size: 14px;
        line-height: 1.5;
    };
    & h3 {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 1.2;
    };
    & h4 {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1.2;
    };
    & b {
        font-size: 14px;
        line-height: 1.8;
    };
};

.bottom-btn {
    width: 220px;
    display: block;
    margin: 30px auto 0 auto;
    text-align: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color $duration-time $timing-function, transform scale(0.9);

    &:hover,
    &:focus {
        background-color: #644438;
        transform: scale(1.1);
    };
};

.colors {
    & .feature__thumb::before {
        background-size: 50px 50px;
        border-radius: 14px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    & .contest-date::before {
        background-image: url(../images/icons/egg-brown.svg);
        background-color: #fff;
    }
    & .contest-time::before {
        background-image: url(../images/icons/egg-white.svg);
        background-color: #ffbb00;
    }
    & .contest-location::before {
        background-image: url(../images/icons/egg-white.svg);
        background-color: #e95925;
    }  
    & .contest-age::before {
        background-image: url(../images/icons/egg-white.svg);
        background-color: #000;
    }
    & .red::before {
        background-image: url(../images/icons/egg-white.svg);
        background-color: rgb(197, 4, 4);
    }
    & .blue::before {
        background-image: url(../images/icons/egg-white.svg);
        background-color: #008cff;
    }
    & .green::before {
        background-image: url(../images/icons/egg-white.svg);
        background-color: #00722c;
    }  
    & .purple::before {
        background-image: url(../images/icons/egg-white.svg);
        background-color: #45009e;
    }
}

.steps {
    & .step {
    margin-bottom: 25px;
    }
    & .feature__thumb::before {
        content: "";
        background-size: 50px 50px;
        border-radius: 14px;
        background-color: $main-bg-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    & .step::before {
        background-image: url(../images/icons/egg-brown.svg);
        transform: scale(1);
    }
    & .red::before {
        border: rgb(197, 4, 4) 2px dotted;
    }
    & .step:hover,
    & .step:focus {
        transform: scale(1.1);
        z-index: 3;
    }
}

.process {
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: $main-font;
    color: $primary-text-color;

    & b {
        font-size: 18px;
        line-height: 1.8;
    };

    & a {
        margin-top: 70px;
    }
    .materials {
        transform: scale(1);
    }
    & .materials:hover,
    & .materials:focus {
        transform:scale(1.1);
        color: $accent-color;
    }
};