$title-color: #212121;
$primary-text-color: #757575;

$primary-white-color: #ffffff;
$title-text-color: #000000;

$accent-color: #2196f3;
$shadow-box-color: rgba(0, 0, 0, 0.15);
$main-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$footer-nav-color: rgba(255, 255, 255, 0.6);
$main-icons-color: #afb1b8;
$border-color-elements: #eeeeee;

$button-bg-color: #188CE8;
$header-border: #ECECEC;

$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration-time: 250ms;